
//header
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.page-logo {
  margin: 0;

}
.page-logo-link {
  text-decoration: none;
  color: #fff;
  background: $colorLogo;
  font-family: 'Oleo Script', cursive;
  width: 145px;
  height: 70px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: normal;
}

@media (max-width: $bpMobile) {
  .page-header {
    justify-content: center;
    margin-top: 30px;
  }
}